
.hamburger {
  position: relative;
}

.bar {
  transition: 0.4s;
  background-color: white;
  border: 1px;
  border-radius: 4px;
  box-shadow: 1px;
  width: 100px;
  height: 70px;
  padding: 4px;
  position: absolute;
  top: 130%;
  left: 0%;
  visibility: hidden;
}

.open .bar:nth-child(1) {
  opacity: 1;
  visibility: visible;
}

.open .bar:nth-child(2) {
  opacity: 1;
  visibility: visible;
}

.open .bar:nth-child(3) {
  opacity: 1;
  visibility: visible;
}

.button12:hover{
transition: 0.4s;
background-color: rgba(0, 0, 0, 0.2);
}

.button1:hover{
  text-shadow: 1rem;
  box-shadow: 1rem;
  transition: 0.4s;
  opacity: 0.8;
}
.cart{

}
.cartbar{
  visibility: hidden;
  position: absolute;
}
.cartbar:hover{
  visibility: visible;
}
.cart:hover + .cartbar {
  visibility: visible;
}
.cart:hover{
opacity: 0.8;
}

