.borderitem{
  box-shadow: 1px 5px 9px 1px rgba(0, 0, 0, 0.22);
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px 6px 0px 0px;
  height: 60px;
  padding: 14px;
  width: auto;
}

.Itembar{
  display: flex;
  flex-wrap: wrap ;
padding: 1rem;
flex-direction: row;
margin-left: 20px;
padding-right: 10px;
}

.Itembox{
  padding: 30px;
}

.Itembox1{

  }

.button{
  border: 1px solid transparent; /* เพิ่มเส้นขอบให้ปุ่ม */
  transition: border-color 0.3s ease-in-out;
}

.button:hover{
  opacity: 0.8;
  border-color:  rgba(0, 0, 0, 0.4);
}

.button1:hover{
  background-color: rgba(0, 0, 0, 0.2);

}